<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clutch" version="1.0.4794.26126" targetFramework="net45" />
  <package id="Clutch.Diagnostics.EntityFramework" version="1.0.4845.23385" targetFramework="net45" />
  <package id="CommunityEFProviderWrappers.EFProviderWrapperToolkit" version="1.0.0" targetFramework="net45" />
  <package id="CommunityEFProviderWrappers.EFTracingProvider" version="1.0.0" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
</packages>