@using System.Web.Http
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Aurora.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "ASP.NET Web API Help Page";
    // Group APIs by controller
    ILookup<string, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor.ControllerName);
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h3>Introduction</h3>
            </hgroup>
            <p>
                Provide a general description of your APIs here.
            </p>
        </div>
    </section>
}


@foreach (var group in apiGroups)
{
    @Html.DisplayFor(m => group, "ApiGroup")
}

@section Scripts {
    <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
}